/* RESET GERAL */
*
{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;         /* O link herda a cor do texto pai */
}

ul {
	list-style: none;
}

/* ----------------------------------------------------------------------------------------------- SCROLL BAR */

html
{
	scroll-behavior: smooth;
}

section
{
	scroll-margin-top: 80px; 
}

::-webkit-scrollbar
{
	width: 8px;
}
/* 2. O "trilho" da barra (a parte de trás) */
::-webkit-scrollbar-track
{
	background: var(--bg-scrollbar);
}
::-webkit-scrollbar-thumb
{
	background-color: #ccc;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover
{
	background-color: #aaa;
}

/* ========================================================================================== NAV BAR */
#page-logo
{
	max-width:  40px;
	max-height: 40px;
}

#page-title
{
	font-size:  32px;
	text-align: center;
}

.menu-icon
{
	display: none;
}

.nav-header
{
	position: sticky;
	top:      0;
	z-index:  1000;
	background-color: #ddf;
}

.header-nav
{
	display:         flex;
	justify-content: space-between;
	align-items:     center;
	padding:         1rem 2rem;
}

.header-nav ul
{
	display: flex;
	gap:     20px;
}

/* DROPDOWN */
@media (max-width: 600px)
{
	.menu-icon
	{
		display: flex;
		color: white;
		background-color: black;
		border-radius: 4px;
		padding: 10px 15px 10px 15px;
		margin:  0px 0px 0px 15px;
	}
	
	.menu-container
	{
		position: relative;
		cursor:   pointer;
	}
	
	.menu-container ul
	{
		display:          none;
		position:         absolute;
		top:              100%;
		right:            0;
		min-width:        150px;
		flex-direction:   column;
		background-color: #eee;
		text-align:       center;
	}
	
	.menu-container:hover ul
	{
		display: flex;
	}
}

/* ========================================================================================== HERO/MAIN BANNER*/
.hero-banner
{
	height:          60vh;
	min-height:      200px;
	display:         flex;
	align-items:     center;
	justify-content: flex-start; /* flex-start center flex-end*/
	
	background-size:     cover;
	background-position: center;
	background-repeat:   no-repeat;
	
	padding: 0 20%;
	
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1)), url('desktop-main-banner.jpg');
}

.hero-banner-content
{
	color: white;
	background-color: black;
	padding: min(40px, 8%) min(60px, 12%) min(40px, 8%) min(60px, 12%);
	border-radius: 5px;
}

/* MOBILE BANNER */
@media (max-width: 600px)
{
	.hero-banner
	{
		height: 40vh;
		background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.05)), url('mobile-main-banner.jpg');
		margin: 0;
		justify-content: center;
		padding: 0;
	}
	
	.hero-banner-content
	{
		color: white;
		background-color: black;
		padding: min(30px, 10%);
		border-radius: 5px;
	}
}

/* ========================================================================================== CONTENT SELECTOR */

.content-selector
{
	background-color: #ccc;
	width: 100%;             /* Garante que a barra ocupe a largura total */
	display: flex;           /* Ativa o flexbox no container principal */
	justify-content: center; /* Centraliza a <ul> horizontalmente */
	padding: 0;
	
}

.content-selector ul
{
	display: flex;           /* Coloca os <li> um ao lado do outro */
	gap: 30px;               /* Espaçamento entre os itens do menu */
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
	background-color: #b5b5b5;
}

.content-selector a
{
	font-weight: bold;
	padding: 10px;
	border-radius: 8px;
	text-transform: uppercase;
	transition: color 0.1s;
	transition: background-color 0.2s;
}

.content-selector a:hover
{
	color: black;
	background-color: white;
}

@media (max-width: 600px)
{
	.content-selector
	{
		display: none;
	}
}

/* ========================================================================================== MAIN */
main > .section-parallax
{
	width: 100%;
	background-attachment: fixed;
	background-position:   center;
	background-size:       cover;
	background-color:      lightgrey;
	
	display: flex;
	justify-content: center;
}

article {
	background: white;
	/*margin: 20px auto;*/
	overflow: hidden;
	box-shadow: 0 30px 25px rgba(0,0,0,0.2);
	
	display: block;        /* Comportamento padrão de bloco (ocupa a linha toda) */
	width: 70%;            /* Ocupa a maior parte da largura da tela */
	max-width: 1200px;     /* Mas não fica largo demais em monitores grandes */
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

@media (max-width: 600px)
{
	article
	{
		width: 95%;
		/*max-width: 500px;*/
	}
}

/* ========================================================================================== FOOTER */

.main-footer
{
	color:            white;
	background-color: black;
	justify-content:  space-between;
	align-items:      center;
	display:          flex;
	border-top:       1px solid white;
}


















