#members-section > *
{
	margin-top:     0;
	margin-bottom:  0;
	padding-top:    0;
	padding-bottom: 0;
}
/* ========================================================================================== MEMBERS SECTION */

#members-section
{
	flex-direction: column;
}

.members-banner
{
	font-size: 42px;
	background-size: cover;
	background-position: center;
	height: 200px;
	display: flex;
	width: 70%;
	margin: 0 auto;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	align-items: center;
	justify-content: center;
	color: var(--color1);
	text-align: center;
	background-color: var(--color3);
}

.member-article
{
	display: column;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	padding: 60px 40px;
	background: white;
	width: 70%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 0;
	box-shadow: 0 30px 25px rgba(0,0,0,0.2);
}

.member-article a
{
	display: flex;
	border-radius: 8px;
	flex-direction: row;
	align-items: center;
	text-align: center;
	gap: 10px;
	padding: 15px;
	transition: transform 0.3s ease;
}

.member-article a:hover
{
	transform: translateY(-5px);
	background-color: var(--color3);
	color: var(--color1);
}

.member-icon
{
	width:  250px;
	height: 180px;
	overflow: hidden;
	border-radius: 4px;
}

.member-icon img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.member-name
{
	font-size: 1.5rem;
	text-transform: uppercase;
	margin: 0;
}

/* ========================================================================================== RESPONSIVIDADE (MOBILE) */

@media (max-width: 700px)
{
	.member-article
	{
		width: 95%;
		grid-template-columns: 1fr;
		padding: 30px 15px;
		gap: 20px;
    }
	
	.member-article a
    {
		flex-direction: column;
    }
	
	.member-icon
	{
		width: 120px;
		height: 120px;
	}
	
	.member-name
	{
		font-size: 1.2rem;
	}
	
	.members-banner
	{
		font-size: 32px;
		width: 95%;
	}
}
